{% extends "auth/layout.twig" %}

{% block title %} Sign Up {% endblock %}

{% block form_for %} Create an account. {% endblock %}

{% block form_content %}
    <form class="flex flex-col" method="POST" action="/signup">
        <div class=" pt-3 rounded bg-gray-200">
            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="fullname">Full name</label>
            <input type="text" id="fullname" name="fullname" value="{{ oldFormData.fullname }}"
                class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-2 
                {{ validationErrors.fullname ? 'border-red-400 focus:border-red-500' : 'border-gray-300 focus:border-purple-600'}} 
                transition duration-400 px-3 pb-1" >
        </div>
        <span class="text-red-500 text-[0.75rem] ml-2 mb-6">{{ validationErrors.fullname | first }}</span>
        <div class="pt-3 rounded bg-gray-200">
            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="name">Username</label>
            <input type="text" id="username" name="username" value="{{ oldFormData.username }}" 
                class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-2 
                {{ validationErrors.username ? 'border-red-400 focus:border-red-500' : 'border-gray-300 focus:border-purple-600'}} 
                transition duration-400 px-3 pb-1 invalid">
        </div>
        <span class="text-red-500 text-[0.75rem] ml-2 mb-6">{{ validationErrors.username | first }}</span>
        <div class="pt-3 rounded bg-gray-200">
            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Email</label>
            <input type="email" id="email" name="email" value="{{ oldFormData.email }}" 
                class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-2 
                {{ validationErrors.email ? 'border-red-400 focus:border-red-500' : 'border-gray-300 focus:border-purple-600'}} 
                transition duration-400 px-3 pb-1">
        </div>
        <span class="text-red-500 text-[0.75rem] ml-2 mb-6">{{ validationErrors.email | first }}</span>
        <div class="pt-3 rounded bg-gray-200">
            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Password</label>
            <input type="password" id="password" name="password"
                class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-2 
                {{ validationErrors.passwowrd ? 'border-red-400 focus:border-red-500' : 'border-gray-300 focus:border-purple-600'}} 
                transition duration-400 px-3 pb-1">
        </div>
        <span class="text-red-500 text-[0.75rem] ml-2 mb-6">{{ validationErrors.password | first }}</span>
        <div class="pt-3 rounded bg-gray-200">
            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm password"
                class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-2 
                {{ validationErrors.confirm_password ? 'border-red-400 focus:border-red-500' : 'border-gray-300 focus:border-purple-600'}} 
                transition duration-400 px-3 pb-1">
        </div>
        <span class="text-red-500 text-[0.75rem] ml-2 mb-6">{{ validationErrors.confirm_password | first }}</span>
        <button class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Sign Up</button>
    </form>
{% endblock %}

{% block form_switch_message %}
    <p class="text-white">Already have an account? <a href="/login" class="font-bold hover:underline">Sign In</a>.</p>
{% endblock %}