{% extends "layout.twig" %}

{% block title %}Categories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('category') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('category', null, '', {defer: true}) }}
    {{ encore_entry_script_tags('alpine', null, '', {defer: true}) }}
{% endblock %}

{% block content %}
    <div id="category-container" class="h-full bg-white">
        <div>
            <button id="modal-btn"
                class="left-[89%] top-3 relative flex items-center gap-1 px-2 py-1 text-sm bg-blue-500 rounded-md border transition-colors duration-150 ease-linear text-gray-900 focus:outline-none font-bold hover:bg-blue-600 focus:bg-blue-600">
                Category 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="15" hight="15"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                </svg>
            </button>
    
            <!-- Modal Background -->
            <div id="modal-bg" class="hidden fixed text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0" x-transition:enter="transition ease duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
                <!-- Modal -->
                <div id="modal" class="hidden bg-white rounded-xl shadow-2xl p-6 sm:w-fit mx-10" x-transition:enter="transition ease duration-100 transform" x-transition:enter-start="opacity-0 scale-90 translate-y-1" x-transition:enter-end="opacity-100 scale-100 translate-y-0" x-transition:leave="transition ease duration-100 transform" x-transition:leave-start="opacity-100 scale-100 translate-y-0" x-transition:leave-end="opacity-0 scale-90 translate-y-1">
                    <h3 class="font-bold block text-xl mb-2 text-blue-500">Add Category</h3>

                    <form action="" @submit.prevent>
                        <hr class="pb-7">

                        <input type="text" name="category" class="w-[300px] outline-none border-b border-blue-500" placeholder="Enter category here">
    
                        <div class="text-right space-x-5 mt-5">
                            <button @click="showModal = false" class="px-3 py-1 text-sm bg-blue-500 rounded-xl border transition-colors duration-150 ease-linear border-gray-200 text-gray-900 focus:outline-none font-bold hover:bg-blue-600 focus:bg-blue-600">Cancel</button>
                            <button {#@click="showModal = false"#} class="px-3 py-1 text-sm bg-blue-500 rounded-xl border transition-colors duration-150 ease-linear border-gray-200 text-gray-900 focus:outline-none font-bold hover:bg-blue-600 focus:bg-blue-600">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <section class="container px-4 mx-auto mt-7 h-full overflow-y-scroll">
            <table class="w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="font-normal pl-7 p-3 text-left w-[18%]">
                            <button class="flex items-center gap-x-2">
                                <span>Name</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"  width=10 height=15><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/>
                                </svg>
                            </button>
                        </th>
                        <th class="font-normal p-3 text-left">
                            <button class="flex items-center gap-x-2">
                                <span>Task Count</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"  width=10 height=15><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/>
                                </svg>
                            </button>
                        </th>
                        <th class="font-normal p-3 text-left">
                            <button class="flex items-center gap-x-2">
                                <span>Created At</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"  width=10 height=15><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/>
                                </svg>
                            </button>
                        </th>
                        <th class="font-normal p-3 text-left">Updated at</th>
                        <th class="font-normal p-3 text-left">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {# <tr>
                        <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                            <div class="flex items-center gap-x-2">
                                <div>
                                    <h2 class="font-medium text-gray-800">Test Category</h2>
                                </div>
                            </div>
                        </td>
                        <td class="px-10 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                            <div class="inline-flex items-center p-2 rounded-full bg-blue-500">
                                <h2 class="text-sm text-center font-normal text-blue-50 px-2">2</h2>
                            </div>
                        </td>
                        <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">01/04/24 10:10am</td>
                        <td class="px-4 py-4 text-sm text-gray-500 whitespace-nowrap">01/04/24 10:10am</td>
                        <td class="px-4 py-4 text-sm whitespace-nowrap">
                            <div class="flex items-center gap-x-10">
                                <button class="text-gray-500 transition-colors duration-200 hover:text-red-500 focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </button>
                                <button class="text-gray-500 transition-colors duration-200 hover:text-yellow-500 focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                    </svg>
                                </button>
                                <button class="text-gray-500 transition-colors duration-200 hover:text-green-500 focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path d="M6 3a3 3 0 0 0-3 3v1.5a.75.75 0 0 0 1.5 0V6A1.5 1.5 0 0 1 6 4.5h1.5a.75.75 0 0 0 0-1.5H6ZM16.5 3a.75.75 0 0 0 0 1.5H18A1.5 1.5 0 0 1 19.5 6v1.5a.75.75 0 0 0 1.5 0V6a3 3 0 0 0-3-3h-1.5ZM12 8.25a3.75 3.75 0 1 0 0 7.5 3.75 3.75 0 0 0 0-7.5ZM4.5 16.5a.75.75 0 0 0-1.5 0V18a3 3 0 0 0 3 3h1.5a.75.75 0 0 0 0-1.5H6A1.5 1.5 0 0 1 4.5 18v-1.5ZM21 16.5a.75.75 0 0 0-1.5 0V18a1.5 1.5 0 0 1-1.5 1.5h-1.5a.75.75 0 0 0 0 1.5H18a3 3 0 0 0 3-3v-1.5Z" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>  #}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}