{% extends "layout.twig" %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard', null, '', {defer: true}) }}
{% endblock %}

{% block content %}

    <div id="container">
        <div id="tasks-display" class="flex justify-between gap-1">
            <div id="immediate" class="w-[45%] h-full bg-white">
                <div class="flex items-center gap-2 ml-3 p-2">
                    <span class="h-3 w-3 bg-blue-500 rounded-full"></span>
                    <h3 class="text-base text-gray-700 font-medium">Next Task</h3>
                </div>
                <div class="flex flex-col items-center justify-center mt-16">
                    <h2>{{ next.name }}</h2>
                    <p>{{ next.dueDate }}</p>
                    {% if next.isPriority is same as(true) %}
                        <div class="w-5 h-5 flex items-center justify-center rounded-full border text-[0.8rem] border-red-400 text-red-400">
                            <p>P</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="comming-up" class="w-[55%] h-full bg-white">
                <div class="w-1/2 flex items-center gap-2 p-2">
                    <span class="h-3 w-3 bg-green-700 rounded-full"></span>
                    <h3 class="text-base text-gray-700 font-medium">Upcoming</h3>
                </div>
                <div class="flex pt-2">
                    <div class="w-full grid grid-rows-5 grid-cols-2 grid-flow-col gap-x-2 gap-y-1 px-2">
                        {% if upcomming %}
                            {% for task in upcomming %}
                                <div class="h-12 w-full flex items-center justify-between bg-white rounded px-3 shadow-sm">
                                    <div class="flex flex-col">
                                        <p class="text-[0.7rem] text-gray-500">{{ task.dueDate }}</p>
                                        <p class="text-sm text-gray-800">{{ task.name }}</p>
                                    </div>
                                    {% if task.isPriority %}
                                        <div class="w-5 h-5 flex items-center justify-center rounded-full border text-[0.8rem] border-red-400 text-red-400">
                                            <p>P</p>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="m-16 text-sm text-center col-span-2">
                                <p class="text-sm text-gray-300">Upcoming tasks are shown here</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        <div id="monthly-report" class="flex justify-between gap-1">
            <div class="w-full h-full bg-white">
                <h3 class="bg-gray-400 text-gray-50 py-0.5 px-2 mt-2 ml-2 font-medium text-sm text-center w-fit">Total</h3>
                <div class="flex items-center justify-center h-[70%] text-gray-700 text-4xl font-medium">
                    {{ stat.total }}
                </div>
            </div>
            <div class="w-full h-full bg-white">
                <h3 class="bg-gray-400 text-gray-50 py-0.5 px-2 mt-2 ml-2 font-medium text-sm text-center w-fit">Completed</h3>
                <div class="flex items-center justify-center h-[70%] text-gray-700 text-4xl font-medium">
                    {{ stat.completed }}
                </div>
            </div>
            <div class="w-full h-full bg-white">
                <div class="text-gray-600 font-bold tracking-widest py-0.5 px-2 mt-2 ml-1 text-center w-[85%] border-b">
                    <h3 class=" text-left">Due</h3>
                </div>
                <div class="flex items-center justify-center h-[70%] text-gray-700 text-4xl font-medium">
                    {{ stat.overdue }}
                </div>
            </div>
            <div class="w-full h-full bg-white">
                <h3 class="bg-gray-400 text-gray-50 py-0.5 px-2 mt-2 ml-2 font-medium text-sm text-center w-fit">Due</h3>
                <div class="flex items-center justify-center h-[70%] text-gray-700 text-4xl font-medium">
                    {{ stat.overdue }}
                </div>
            </div>
            <div class="w-full h-full bg-white">
                <h3 class="bg-gray-400 text-gray-50 py-0.5 px-2 mt-2 ml-2 font-medium text-sm text-center w-fit">consistency</h3>
                <div class="flex items-center justify-center h-[70%] text-gray-700 text-4xl font-medium">
                    {{ stat.consistency }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
